Repository laitingsheng/Cluster-Spawner: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ci-image:ansible-openstack, launch, init, deploy

ci-image:ansible-openstack:
  image: docker:stable
  services:
  - docker:dind
  before_script:
  - docker login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY}
  stage: image:ci
  script:
  - cd ansible-openstack
  - docker build -t ${CI_REGISTRY_IMAGE}/ansible-openstack .
  - docker push ${CI_REGISTRY_IMAGE}/ansible-openstack

launch:
  image: ${CI_REGISTRY_IMAGE}/ansible-openstack
  variables:
    ANSIBLE_LOAD_CALLBACK_PLUGINS: 1
    ANSIBLE_STDOUT_CALLBACK: debug
    ANSIBLE_HOST_KEY_CHECKING: 0
  before_script:
  - source project.sh
  - source ${OS_IDENTITY_FILE}
  ...

init:
  image: ${CI_REGISTRY_IMAGE}/ansible-openstack
  variables:
    ANSIBLE_LOAD_CALLBACK_PLUGINS: 1
    ANSIBLE_STDOUT_CALLBACK: debug
    ANSIBLE_HOST_KEY_CHECKING: 0
  before_script:
  - source project.sh
  - source ${OS_IDENTITY_FILE}
  ...

deploy:
  image: ${CI_REGISTRY_IMAGE}/ansible-openstack
  variables:
    ANSIBLE_LOAD_CALLBACK_PLUGINS: 1
    ANSIBLE_STDOUT_CALLBACK: debug
    ANSIBLE_HOST_KEY_CHECKING: 0
  before_script:
  - source project.sh
  - source ${OS_IDENTITY_FILE}
  ...

Combine
  .gitlab-ci.yml
  deploy.yml
  init.yml
Due: launch, init, deploy

Move scheduler deployment
  init.yml
  scheduler.yml
Due: launch, init, deploy

Rename & separate Dockerfile
  .gitlab-ci.yml
  ansible-openstack/Dockerfile
  init.yml
  launch.yml
Due: ci-image:ansible-openstack, launch, init, deploy

Spawn more
  init.yml
  launch.yml
Due: launch, init, deploy

Fix image name
  .gitlab-ci.yml
Due: none

Fix typo
  launch.yml
Due: launch, init, deploy

Add large flavour
  launch.yml
Due: launch, init, deploy

Minor update
  .gitignore
  project.sh
Due: launch, init, deploy

Change variable
  project.sh
Due: launch, init, deploy

Add prometheus deployment
  init.yml
Due: launch, init, deploy

Disable become on three tasks
  init.yml
Due: launch, init, deploy

Add more deployments
  init.yml
  scheduler.yml
Due: launch, init, deploy

Add minion rule to master
  launch.yml
Due: launch, init, deploy

Fix execution order
  init.yml
Due: launch, init, deploy

add prometheus deployment script
  init.yml
Due: launch, init, deploy

change filename
  init.yml
Due: launch, init, deploy

remove become
  init.yml
Due: launch, init, deploy

Separate deployment
  .gitlab-ci.yml
  fetch.yml
  init.yml
Due: launch, init, deploy

Remove strategy from the initialisation
  .gitlab-ci.yml
  init.yml
  openstack_inventory.py
Due: launch, init, deploy

Minor update
  fetch.yml
Due: none

Apply remotely
  .gitlab-ci.yml
  fetch.yml
  monitoring.yml
Due: none

Fix stage
  .gitlab-ci.yml
  monitoring.yml
Due: none

Use original syntax
  monitoring.yml
Due: none

Fix copy
  monitoring.yml
Due: none

fix manifest error
  monitoring.yml
Due: none

remove second ignore eror
  monitoring.yml
Due: none

Remove debug
  monitoring.yml
Due: none

Use synchronize module
  monitoring.yml
Due: none

Minor update
  scheduler.yml
Due: none

Minor update
  monitoring.yml
Due: none

Fix permission
  .gitlab-ci.yml
  monitoring.yml
Due: none

Use fetching now
  .gitlab-ci.yml
  fetch.yml
  monitoring.yml
  scheduler.yml
Due: none

Fix fetch
  fetch.yml
Due: none

Add debug cat
  .gitlab-ci.yml
Due: none

Add trigger
  .gitlab-ci.yml
Due: none

Add flat key
  .gitlab-ci.yml
  fetch.yml
Due: none

Add scheduler deployment
  .gitlab-ci.yml
  scheduler/scheduler.yml
Due: none

Test config fetching
  .gitlab-ci.yml
  fetch.yml
  scheduler/scheduler.yml
Due: none

Path conditions:
  ci-image:ansible-openstack: any of: ansible-openstack/Dockerfile
  launch: any of: launch.yml, init.yml, project.sh
  init: any of: launch.yml, init.yml, project.sh
  deploy: any of: launch.yml, init.yml, project.sh
