Repository laitingsheng/Cluster-Spawner: changes, and which GitLab CI jobs are due for each by the changed paths.
All: launch, init, monitoring, scheduler

.gitlab-ci.yml:

stages:
  - launch
  - init
  - deploy

.ansible:
  image: registry.gitlab.com/laitingsheng/docker-ubuntu:k8s
  variables:
    ANSIBLE_LOAD_CALLBACK_PLUGINS: 1
    ANSIBLE_STDOUT_CALLBACK: debug
    ANSIBLE_HOST_KEY_CHECKING: 0
  before_script:
    - source project.sh
    - source $OS_IDENTITY_FILE
    - chmod 755 openstack_inventory.py
    - chmod 600 $K8S_MASTER_PRIVATE_KEY
  only:
    refs:
      - master
    changes:
      - launch.yml
      - init.yml
      - project.sh
  except:
    - schedules

launch:
  stage: launch
  extends:
    - .ansible
  script:
    - ansible-playbook -i openstack_inventory.py -e public_key_path=$K8S_MASTER_PUBLIC_KEY launch.yml

init:
  stage: init
  extends:
    - .ansible
  script:
    - ansible-playbook -i openstack_inventory.py --private-key $K8S_MASTER_PRIVATE_KEY -e k8s_scheduler_registry=$K8S_SCHEDULER_REGISTRY -e k8s_scheduler_registry_username=$K8S_SCHEDULER_REGISTRY_USERNAME -e k8s_scheduler_registry_password=$K8S_SCHEDULER_REGISTRY_PASSWORD init.yml
  when: delayed
  start_in: 2 minutes

.deploy:
  stage: deploy
  extends:
    - .ansible
  before_script:
    - source project.sh
    - source $OS_IDENTITY_FILE
    - chmod 755 openstack_inventory.py
    - chmod 600 $K8S_MASTER_PRIVATE_KEY
    - mkdir -p ~/.kube
    - python openstack_inventory.py --host T_R-k8s-master | grep accessIPv4 | awk -F' ' '{print $2}' | awk '{gsub(/[",]/, "")} 1' | xargs -i bash -c "scp -i $K8S_MASTER_PRIVATE_KEY ubuntu@{}:.kube/config ~/.kube/config"

monitoring:
  extends:
    - .deploy
  script:
    - kubectl apply -f monitoring/ || true
    - until kubectl get customresourcedefinitions servicemonitors.monitoring.coreos.com ; do date; sleep 1; echo ""; done
    - until kubectl get servicemonitors --all-namespaces ; do date; sleep 1; echo ""; done
    - kubectl apply -f monitoring/
  only:
    refs:
      - master
    changes:
      - launch.yml
      - init.yml
      - project.sh
      - monitoring/*
  except:
    - schedules

scheduler:
  extends:
    - .deploy
  script:
    - kubectl apply -f scheduler/
  only:
    refs:
      - master
    changes:
      - launch.yml
      - init.yml
      - project.sh
      - scheduler/*
  except:
    - schedules

Disable host key checking
  .gitlab-ci.yml
  scheduler/scheduler.yml
Due: scheduler

Update image name
  scheduler/scheduler.yml
Due: scheduler

Restructure CI config
  .gitlab-ci.yml
  init.yml
Due: launch, init, monitoring, scheduler

Install openstacksdk prior to execution
  .gitlab-ci.yml
Due: none

Fix CI script
  .gitlab-ci.yml
Due: none

Add overwrite
  .gitlab-ci.yml
Due: none

Fix command
  .gitlab-ci.yml
Due: none

Revert triggers
  .gitlab-ci.yml
Due: none

Update image tag
  .gitlab-ci.yml
  prepare.sh
  scheduler/scheduler.yml
Due: scheduler

Update image
  scheduler/scheduler.yml
Due: scheduler

Add extra instance for services
  init.yml
  launch.yml
  prepare.sh
  scheduler/scheduler.yml
Due: launch, init, monitoring, scheduler

Restore
  init.yml
  launch.yml
  prepare.sh
Due: launch, init, monitoring, scheduler

Add cluster role edit
  kube-scheduler-role.yaml
  prepare.sh
Due: none

Rename
  .gitlab-ci.yml
  kube-scheduler-role.yml
  scheduler/scheduler.yml
Due: scheduler

Update spawning
  launch.yml
  prepare.sh
  scheduler/scheduler.yml
Due: launch, init, monitoring, scheduler

Add more label
  prepare.sh
Due: none

update kube-scheduler-role file
  kube-scheduler-role.yml
Due: none

yaml syntax fix
  kube-scheduler-role.yml
Due: none

Update label for extra minion
  prepare.sh
Due: none

Update scheduler
  scheduler/scheduler.yml
Due: scheduler

Taint all minions except extra
  launch.yml
  prepare.sh
  scheduler/scheduler.yml
Due: launch, init, monitoring, scheduler

Use homogeneous instances
  .gitlab-ci.yml
  launch.yml
  prepare.sh
  scheduler/scheduler.yml
Due: launch, init, monitoring, scheduler

Remove most of the debug output
  .gitlab-ci.yml
  scheduler/scheduler.yml
Due: scheduler

update monitoring resource request
  monitoring/0prometheus-operator-deployment.yaml
  monitoring/grafana-deployment.yaml
  monitoring/kube-state-metrics-deployment.yaml
Due: monitoring

Update scheduler image
  scheduler/scheduler.yml
Due: scheduler

Change flavour of service to m1.large
  launch.yml
  scheduler/scheduler.yml
Due: launch, init, monitoring, scheduler

Rename all
  .gitlab-ci.yml
  init.yml
  launch.yml
Due: launch, init, monitoring, scheduler

Fix name
  launch.yml
  prepare.sh
Due: launch, init, monitoring, scheduler

Update Kubernetes
  init.yml
  prepare.sh
Due: launch, init, monitoring, scheduler

Rename
  launch.yml
  prepare.sh
Due: launch, init, monitoring, scheduler
